
.header{
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.tab{
    text-decoration: none;
    margin-right: 25px;
    font-weight: 900;
}

.resume{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 15px;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0.3;
    }
}